.encre{
    position: fixed;
    top: 242px;
    left: 1450px;
    z-index: 1;
    display: block;
    height: 420px;
}
.cercleEncre{
    height: 55px;
    width: 55px;
    background-image: url(/images/icons/encre.png);
    margin-top: 2px;
    margin-bottom: 2px;
}
.traitEncre{
    height: 32px;
    width: 5px;
    background-image: url(/images/icons/traitencres.png);
    margin-top: 2px;
    margin-bottom: 2px;
    margin-left: 25px;
}
#cercle1{
    margin-top: 0px;
}