a{
	color:#E0E0E2;
	size : 20px;
	font-family: 'Niramit'
}

.position_titre{
	margin-left:10%;
	margin-top: 60px;
	display: flex;
}


.dimension_affiche{
	width: 230px;
	height: 300px;
	margin-left:10%;
	margin-bottom: 0px;
}

.flex_affiche_et_synopsis{
	display: flex;
	justify-content: space-around;
}

.marge_synopsis{
	margin-left: 60px;
	margin-right: 80px; 
}

.position_video{
    display: flex;
    align-items: center;
    justify-content: center;
	margin-right: 95px;
}

p.taille_titre{
	font-size: 40px;
}

.position_barre{
	margin-left: 470px;
	padding : 50px 0;

}
iframe{
	border-width: 3px;
	border-color: #9A7EB0;
}
.aButton{
text-align: center;
    width: 150px;
    height: 40px;
    background-image: url(/images/fonds/boxviolette.png);
    font-family:'Niramit', sans-serif;
	border-width: 0px;
	margin-left: 75%;
}
.position_soulignage{
	margin-left: 10%;
}

.flex_etoile_video{
	padding : 50px 0;
	display: flex;
	justify-content: space-around;
}

.flex_etoiles{
	display: flex;
}

.dimension_etoile{
	width: 30px;
	height: 30px;
	padding: 0 2px;
}

.police_notes{
	font-size: 23px;
}