.grosse_boite_laffiche {
    display: flex;
    justify-content: space-around;
    padding: 10px 0px;
    padding-bottom: 62px;
}


.boites_affiches {
    width: 341px;
    height: 455px;
}

.grosse_boite_films1 {
    display: flex;
    justify-content: space-around;
    padding: 10px 0px;
    padding-bottom: 20px;
}

.boites_films1 {
    width: 214px;
    height: 285px;
}

.grosse_boite_films2 {
    display: flex;
    justify-content: space-around;
    padding: 10px 0px;
}

.les_boites_films2 {
    width: 217.28px;
    height: 282.02px;
}

.espace {
    height: 100px;
}

.texte {
    margin-left: 50px;
    margin-top: 25px;
}

.boite_titres{
	color : #E0E0E2;
	font-size: 20px;
	display: flex;
    justify-content: space-around;
    text-align: center;
    font-family: 'Niramit', regular ;
}

.boite_totoro{
	padding-left: 50px; 
}

.boite_ailleurs{
	padding-left: 80px;
}

.boite_calamity{
	padding-left: 50px;
}

.position_soulignage{
	margin-bottom: 100px;
}
.position_soulignage2{
    margin-bottom: 100px;
    height: 5px;
}

.big-films-boxes {
    display: flex;
    justify-content: space-evenly;   
}

.big-films-boxes .film-box {
    text-align: center;
}

.big-films-boxes .film-box .film-box-img {    
    width: 341px;
    height: 455px;
}
.film-box p{
    margin-block-start: 15px;
}

.big-films-boxes .film-box .film-box-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.Fbutton{
    line-height: 40px;
    text-align: center;
    width: 150px;
    height: 40px;
    background-color: #9a7EB0;
    font-family:'Niramit', sans-serif;
    border-width: 0px;
    margin-top: 50px;
}
.FbuttonOverlay{
    width: 150px;
    height: 40px;
    background-image: url(/images/fonds/boxviolette.png);
    font-family:'Niramit', sans-serif;
    border-width: 0px;
    margin-top: 50px;
    transition: opacity 0.3s ease-in;
    opacity: 0;
    position: relative;
    top:-90px;
    font-size: 16px;
    cursor: pointer;
}
.Fbutton:hover .FbuttonOverlay {
    opacity: 1;
}
.BoxFbutton{
    display: flex;
    justify-content: center;
}

.position_titre{
    margin-top: 6%;
}