.div-background {
    background-image: url(/images/fonds/boxviolette.png);
    background-size: 100% 100%;
    height: 500px;
    margin-bottom: 0;
    margin-top:150px;
    background-color: rgba(00, 00, 00, 0.5)
}

.div-background2 {
    background-image: url(/images/fonds/fond_salle.png);
    background-size: 100% 100%;
    height: 500px;
    margin-bottom: 0;
}


h3 {
    margin-left: 10%;
    color: #E0E0E2;
    font-size: 40px;
    font-family: 'Monoton', regular;
    font-weight: normal;
}

h4 {
    text-align: center;
    font-size: 30px;
    color: #E0E0E2;
    font-family: 'Niramit', bold;
    margin-block-end: 0;
    margin-block-start: 20px;
  
}

#nav {
    padding: 0;
    margin: 0;
}

#nav li {
    display: inline;
    list-style: none;
}

#nav a {
    display: inline-block;
    margin: 0 30px;
}

.liste-footer{
    font-size: 20px
}

.bloc-footer-services {
    float: left;
    display: inline-block;
    margin: 0 125px;
    text-align: center;
}

.logos {
    width: 50px;
    height: 50px;
}

a {
    color: #E0E0E2;
}

#boxes{
    content: "";
    display: table;
    clear: both;
    }
    .contenu-footer{
    float:left;
    height:500px; 
    padding:0 10px;
    }

.boite-blanche {
    background-color: #E0E0E2;
    background-color: rgba(224, 224, 226, 0.6);
    display: flex;
    justify-content: space-around;
    align-items: stretch;
    width: 1000px;
    height: 67px;
    left: 15%;
    top: 50px;
    position: relative;
}

.logos-partenaires{
    display: flex;
    align-items: center;
    margin-left: 25px;
    margin-right: 25px;
}

.logos-partenaires img{
    margin-left: 9px;
    margin-right: 9px;
}

