.mainback {
    background-image: url(/images/fonds/Fondmain.png);
    background-size: 100% 100%;
    height: 450px;
    margin-block-start: 0%;
}

.HDbutton{
    text-align: center;
    width: 150px;
    height: 40px;
    background-image: url(/images/fonds/boxviolette.png);
    font-family:'Niramit', sans-serif;
    border-width: 0px;
}
.box-sstitre{
    display: grid;
    justify-items: center;
}