.position_soulignageA{
    margin-left:10%;
    width: 335px;
    height: 4px;
}
.position_propos{
    display: flex;
    justify-content: center;
    align-content: space-around;
    flex-wrap: wrap;
}

.position_titre{
        display: flex;
        flex-direction: column;
        padding-top: 3%;
}
    