.BV {
    background-image: url(/images/fonds/boxviolette.png);
    background-size: 100% 100%;
    padding: 24px 0;
}


.BVbutton{
    margin-left: 0px;
    text-align: center;
    margin-right: 50px;
    width: 150px;
    height: 40px;
    background-color: #9a7EB0;
    font-family:'Niramit', sans-serif;
    line-height: 40px;
    font-size: 16px;

}
.BVbuttonOverlay{
    margin-left: 0px;
    margin-right: 50px;
    width: 150px;
    height: 40px;
    background-image: url(/images/fonds/boxviolette.png);
    font-family:'Niramit', sans-serif;
    border-width: 0px;
    transition: opacity 0.3s ease-in;
    opacity: 0;
    position: relative;
    top:-40px;
    font-size: 16px;
    cursor: pointer;
}
.BVbutton:hover .BVbuttonOverlay {
    opacity: 1;
}

.news {
    display: flex;
    align-items: center;
    justify-content: center;
}

.news-box {
    margin: 0 100px;
}

.news-box h2 {
    margin-bottom: 30px;
}

.news-box-content {
    display: flex;
    align-items: flex-start;
    justify-content: center;
} 
.news-box-content img{
    margin-left: 0px;
    margin-right: 25px;
} 
.news-box-content .news-box-text{
    height: 100%;
}