h1 {
    text-align: center;
    color: #E0E0E2;
    font-weight: normal;
    font-size: 60px;
    font-family: 'Monoton', regular;
    padding-top: 30px;
    margin-block-end: 0%;
    margin-block-start: 0px;
}

body {
    background-color: #121420;
    color: #E0E0E2;
    margin: 0px;
}

p.sstitre {
    text-align: center;
    color: #E0E0E2;
    font-size: 40px;
    font-family: 'Niramit', sans-serif;
    margin-block-start: 60px;
    margin-block-end: 160px;
}

h2 {
    color: #E0E0E2;
    font-size: 30px;
    font-family: 'Monoton', regular;
    margin-block-start: 0%;
    margin-block-end: 0%;
    font-weight: normal;
}

.tarifs {
    width: auto;
    height: 484px;
    background-color: #9A7EB0;
}

.barrenoire {
    position: absolute;
    margin-left: 52%;
    margin-top: 0.8%;
    left: -25px;
    width: 8px;
    height: 460px;
    background-color: black;
}

.contenu-footer {
    text-align: center;
    color: #E0E0E2;
    font-family: 'Niramit', regular;
}

h3 {
    text-align: center;
    color: #E0E0E2;
    font-size: 40px;
    font-family: 'Monoton', regular;
    font-weight: normal;
}

h4 {
    text-align: center;
    color: #E0E0E2;
    font-family: 'Niramit', regular;
}

li {
    list-style: none;
}

.contenu-footer {
    text-align: center;
    color: #E0E0E2;
    font-family: 'Niramit', regular;
}

li {
    list-style: none;
}

@font-face {
    font-family: "Niramit-bold";
    src: url(/fonts/Niramit-bold)
}

@font-face {
    font-family: "Niramit-Extralight";
    src: url(/fonts/Niramit-Extralight)
}

@font-face {
    font-family: "Monoton-regular";
    src: url(/fonts/Monoton-regular)
}

.textetarif {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    margin-right: 300px;
}

p.tarifement {
    color: #E0E0E2;
    font-size: 10px;
    font-family: 'Niramit', sans-serif;
    margin-bottom: 5px;
}

.texte20gauche {
    color: #E0E0E2;
    font-size: 20px;
    font-family: 'Niramit', sans-serif;
}
.texte20droite {
    color: #E0E0E2;
    font-size: 20px;
    font-family: 'Niramit', sans-serif;
    display: flex;
    margin-left: 100px;
}
.tariffgauche {
    color: #E0E0E2;
    font-size: 30px;
    font-family: 'Niramit', sans-serif;
    margin-bottom: 5px;
}
.tariffdroite {
    color: #E0E0E2;
    font-size: 30px;
    font-family: 'Niramit', sans-serif;
    margin-bottom: 5px;
    padding-left: 80px;
    display: flex;
}
.cyril{
    display: flex;
    justify-content: space-around;
}
.lunettes{
    color: black;
    font-size: 30px;
    font-family: 'Niramit', sans-serif;
    margin-bottom: 5px;
}
.ouioui{
    position: absolute;
    margin-left: 8%;
    margin-top: 2%;
}
.lunette{
    position: absolute;
    margin-left: 11%;
    margin-top: 2%;
}
.carte{
    position: absolute;
    margin-top: 12%;
    margin-left: 12%;
}
.cheque{
    position: absolute;
    margin-top: 165px;
    margin-left: 21.5%;
}
.espece{
    position: absolute;
    margin-top: 184px;
    margin-left: 32%;
}