.position_soulignageA{
    margin-bottom: 40px;
    width: 185px;
}
.position_propos{
    display: flex;
    justify-content: center;
    align-content: space-around;
    flex-wrap: wrap;
}
.propos1{
    padding: 10px;
}
.propos2{
    padding: 10px;
}
.propos3{
    padding: 10px;
}
.propos4{
    padding: 10px;
}
p.intro{
    color: #E0E0E2;
    font-size: 20px;
    font-family: 'Niramit', sans-serif;
    margin-left: 158px;
    margin-right: 198px;
}
.tel{
    display: flex;
    justify-content: space-evenly;
}
.local{
    display: flex;
    justify-content: space-evenly;
}
p.phonetext{
    color: #E0E0E2;
    font-size: 20px;
    font-family: 'Niramit', sans-serif;
    text-align: center;
}
p.localisation{
    color: #E0E0E2;
    font-size: 20px;
    font-family: 'Niramit', sans-serif;
    text-align: center;
}
.boxcontact{
    margin-top: 50px;
}
.position_titre{
    display: flex;
    flex-direction: column;
    margin-top:0%;
}
