.imageBV2 {
    height: 255px;
    position: absolute;
    left: 835px;
    margin-block-start: 65px;
    flex: 1 auto;
}

.imageBV1 {
    height: 255px;
    position: absolute;
    margin-block-start: 65px;
    margin-block-end: 388px;
}

.BVtitre {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin-block-end: 0%;
    height: 50px;
    flex: 1 auto;
    margin-right: 125px;
}

.BV {
    background-image: url(/images/fonds/boxviolette.png);
    background-size: 100% 100%;
    padding-left: 200px;
    padding-right: 200px;
    padding-top: 24px;
    display: flex;
    justify-content: space-between;
    height: 382px;
}
.BVtexte {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    position: absolute;
    top: -5px; left: 174px;
}
.BVcontenu{
    font-family: 'Niramit', sans-serif;
    font-size: 20px;
    margin-block-start: 0px;
    padding-left: 18px;
    width: 300px;
}
.BVbutton{
    margin-left: 18px;
    margin-right: 50px;
    width: 150px;
    height: 40px;
    background-image: url(/images/fonds/boxviolette.png);
    font-family:'Niramit', sans-serif;
    border-width: 0px;
}

