.position_propos{
    display: flex;
    justify-content: center;
    align-content: space-around;
    flex-wrap: wrap;
}
.propos1{
    size: 1000px;
}
.propos2{

}
.propos3{

}
.propos4{

}
p.intro{
    color: #E0E0E2;
    font-size: 20px;
    font-family: 'Niramit', sans-serif;
    margin-left: 158px;
    margin-right: 198px;
}
.tocard{
    display: flex;
    justify-content: space-evenly;
}