.tarifs {
    width: auto;
    height: 484px;
    background-color: #9A7EB0;
    display: flex;
    justify-content: center;
}

.barrenoire {
    margin-top: 10px;
    width: 8px;
    height: 450px;
    background-color: #121420;
    margin-bottom: 10px;
}

.textetarif {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

p.tarifement {
    color: #E0E0E2;
    font-size: 10px;
    font-family: 'Niramit', sans-serif;
    margin-bottom: 5px;
}

.texte20gauche {
    color: #E0E0E2;
    font-size: 20px;
    font-family: 'Niramit', sans-serif;
}
.texte20droite {
    color: #E0E0E2;
    font-size: 20px;
    font-family: 'Niramit', sans-serif;
}
.tariffgauche {
    color: #E0E0E2;
    font-size: 30px;
    font-family: 'Niramit', sans-serif;
    margin-bottom: 5px;
}
.tariffdroite {
    color: #E0E0E2;
    font-size: 30px;
    font-family: 'Niramit', sans-serif;
    margin-bottom: 5px;

    display: flex;
}
.cyril{
    display: flex;
    justify-content: space-around;
}
.lunettes{
    color: black;
    font-size: 30px;
    font-family: 'Niramit', sans-serif;
    margin-bottom: 5px;
    padding: 6px;
    padding-left: 40px;
    padding-right: 40px;
    background-color: #cab1ea;
    border-radius: 40px;
    display: flex;
    justify-content: space-between;
    margin-top: 6%;
    margin-bottom: 6%;
}
.BoxOuioui{
}

.PaymentFlex{
    display: flex;
    justify-content: space-around;
    padding-left: 50px;
}
.carte{
    height: 75px;
    width: 75px;
}
.cheque{
    height: 80px;
    width: 80px;
}
.espece{
    height: 75px;
    width: 110px;
}
.sousBoiteD{
    width: 45%;
    padding-left: 50px;
}
.sousBoiteG{
    width: 45%;
    padding-right: 50px;
}
@font-face {
    font-family: "Niramit-bold";
    src: url(/fonts/Niramit-bold)
}

@font-face {
    font-family: "Niramit-Extralight";
    src: url(/fonts/Niramit-Extralight)
}

@font-face {
    font-family: "Monoton-regular";
    src: url(/fonts/Monoton-regular)
}