.tarifs {
    width: auto;
    height: 484px;
    background-color: #9A7EB0;
}

.barrenoire {
    position: absolute;
    margin-left: 52%;
    margin-top: 0.8%;
    left: -25px;
    width: 8px;
    height: 460px;
    background-color: black;
}

.textetarif {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    margin-right: 300px;
}

p.tarifement {
    color: #E0E0E2;
    font-size: 10px;
    font-family: 'Niramit', sans-serif;
    margin-bottom: 5px;
}

.texte20gauche {
    color: #E0E0E2;
    font-size: 20px;
    font-family: 'Niramit', sans-serif;
}
.texte20droite {
    color: #E0E0E2;
    font-size: 20px;
    font-family: 'Niramit', sans-serif;
    display: flex;
    margin-left: 100px;
}
.tariffgauche {
    color: #E0E0E2;
    font-size: 30px;
    font-family: 'Niramit', sans-serif;
    margin-bottom: 5px;
}
.tariffdroite {
    color: #E0E0E2;
    font-size: 30px;
    font-family: 'Niramit', sans-serif;
    margin-bottom: 5px;
    padding-left: 80px;
    display: flex;
}
.cyril{
    display: flex;
    justify-content: space-around;
}
.lunettes{
    color: black;
    font-size: 30px;
    font-family: 'Niramit', sans-serif;
    margin-bottom: 5px;
}
.ouioui{
    position: absolute;
    margin-left: 8%;
    margin-top: 2%;
}
.lunette{
    position: absolute;
    margin-left: 11%;
    margin-top: 2%;
}
.carte{
    position: absolute;
    margin-top: 12%;
    margin-left: 14%;
}
.cheque{
    position: absolute;
    margin-top: 165px;
    margin-left: 21.5%;
}
.espece{
    position: absolute;
    margin-top: 184px;
    margin-left: 30.5%;
}
@font-face {
    font-family: "Niramit-bold";
    src: url(/fonts/Niramit-bold)
}

@font-face {
    font-family: "Niramit-Extralight";
    src: url(/fonts/Niramit-Extralight)
}

@font-face {
    font-family: "Monoton-regular";
    src: url(/fonts/Monoton-regular)
}