.contenu-footer{
    text-align: center;
    color: #E0E0E2;
    font-family: 'Niramit', regular;

}

h3{
    text-align: center;
    color: #E0E0E2;
    font-size: 40px;
    font-family: 'Monoton', regular;
}
h4{
    text-align: center;
    color: #E0E0E2;
    font-family: 'Niramit', regular;

}
li {
    list-style: none;
}

ul {
    text-align: center;
    list-style-type: none;
}