h1{
    text-align: center;
    color: #E0E0E2;
    font-weight: normal;
    font-size: 60px;
    font-family: 'Monoton', regular;
    margin-block-start: 37px;
    margin-block-end: 0%;
}
body{
    background-color: #121420;
    color: #E0E0E2;
}
p.sstitre{
    text-align: center;
    color: #E0E0E2;
    font-size: 40px;
    font-family: 'Niramit', sans-serif;
    margin-block-start: 60px;
    margin-block-end: 160px;
}
h2{
    color: #E0E0E2;
    font-size: 30px;
    font-family: 'Monoton', regular;
    margin-block-start: 0%;
    margin-block-end: 0%;
    font-weight: normal;
}
.tarifs{
    width: auto;
    height: 484px;
    background-color: #9A7EB0;
}
.barrenoire{
    position: absolute;
    margin-left: 50%;
    margin-top: 0.8%;
    left: -25px;
    width: 8px;
    height: 460px;
    background-color: black;
}
.contenu-footer{
    text-align: center;
    color: #E0E0E2;
    font-family: 'Niramit', regular;
}
h3{
    text-align: center;
    color: #E0E0E2;
    font-size: 50px;
    font-family: 'Monoton', regular;
    font-weight: normal;
}
h4{
    text-align: center;
    color: #E0E0E2;
    font-family: 'Niramit', regular;

}
li {
    list-style: none;
}




