.align_titre_burger {
    position: relative;
    justify-content: center;
    display: flex;
}

.burger {
    width: 70px;
    left: 5px;
<<<<<<< HEAD
    top: 50px;
=======
    top:60px;
>>>>>>> 4ac9422c55b6319037fc51eae8d8a931cef57cb9
    cursor: pointer;
    position: absolute;
    
}

.burger span {
    width: 100%;
    height: 6px;
    background-color:  #E0E0E2;
    display: block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.burger span::before, .burger span::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 6px;
    background-color:#E0E0E2;

}

.burger span::before {
    transform: translateY(-20px);
}

.burger span::after {
    transform: translateY(20px);
}


h1{
    text-align: center;
    color: #E0E0E2;
    font-size: 60px;
    font-family: 'Monoton', regular;
    margin-block-start: 0%;
    margin-block-end: 0%;
}
body{
    background-color: #121420;
    color: #E0E0E2;
}
p.sstitre{
    text-align: center;
    color: #E0E0E2;
    font-size: 40px;
    font-family: 'Niramit', sans-serif;
}
h2{
    color: #E0E0E2;
    font-size: 30px;
    font-family: 'Monoton', regular;
    margin-block-start: 0%;
    margin-block-end: 0%;
}

.blocviolet{
    width: auto;
    height: 382px;

}
.tarifs{
    width: auto;
    height: 484px;
    background-color: #9A7EB0;
}
.barrenoire{
    position: absolute;
    margin-left: 50%;
    margin-top: 0.8%;
    left: -25px;
    width: 8px;
    height: 460px;
    background-color: black;
}
.blocviolet{
    background-image: url(boxviolette.png);
    background-size: 100% 100%;
    border-radius: 5px;
    padding-left: 200px;
    padding-right: 200px;
    padding-top: 24px;
    display: flex;
    justify-content: space-between;
    height: 382px;
}
.contenu-footer{
    text-align: center;
    color: #E0E0E2;
    font-family: 'Niramit', regular;

}

h3{
    text-align: center;
    color: #E0E0E2;
    font-size: 40px;
    font-family: 'Monoton', regular;
}
h4{
    text-align: center;
    color: #E0E0E2;
    font-family: 'Niramit', regular;

}
li {
    list-style: none;
}
.grosse_boite {
        display: flex;
        justify-content: space-around;
        padding: 100px 0px;
}
.la_boite_totoro{
        width: 341px;
        height: 455px;
        background-color: red;
}    
.la_boite_ailleurs{
        width: 341px;
        height: 455px;
        background-color: red;
} 
.la_boite_calamity{
        width: 334px;
        height: 454.5px;
        background-color: red;
}

.grosse_boite_films {
	display: flex;
	justify-content: space-around;
	padding: 10px 0px;
}

.la_boite_troll{
	width: 214px;
	height: 285px;
}

.la_boite_jacques{
	width: 214px;
	height: 285px;
}

.la_boite_beetlejuice{
	width: 214px;
	height: 285px;
}
.la_boite_blancheneige{
	width: 214px;
	height: 285px;
}

.align_titre_burger {
    position: relative;
    justify-content: center;
    display: flex;
}


.burger {
    width: 70px;
    left: 5px;
    top:60px;
    cursor: pointer;
    position: absolute;
    
}


h3 {
    text-align: center;
    color: #E0E0E2;
    font-size: 40px;
    font-family: 'Monoton', regular; 
}

h4 {
    text-align: center;
    color: #E0E0E2;
    font-family: 'Niramit', regular;
}

.contenu-footer {
    text-align: center;
    color: #E0E0E2;
    font-family: 'Niramit', regular;

}

li {
    list-style: none;
}

.burger span {
    width: 100%;
    height: 6px;
    background-color:  #E0E0E2;
    display: block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.burger span::before, .burger span::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 6px;
    background-color:#E0E0E2;

}

.burger span::before {
    transform: translateY(-20px);
}

.burger span::after {
    transform: translateY(20px);
}
.titres{
    height: 255px;
}
