h1{
    text-align: center;
    color: #E0E0E2;
    font-size: 60px;
    font-family: 'Monoton', regular;
}
body{
    background-color: #121420;
    color: #E0E0E2;
}
p.sstitre{
    text-align: center;
    color: #E0E0E2;
    font-size: 40px;
    font-family: 'Niramit', sans-serif;
}
h2{
    color: #E0E0E2;
    font-size: 30px;
    font-family: 'Monoton', regular;
    margin-block-start: 0%;
}
.blocviolet{
    width: auto;
    height: 382px;
    background-image: url(boxviolette.png);
    background-size: 100% 100%;
}
.titres{
    border: oldlace;
    border-radius: 5px;
    padding-left: 156px;
    padding-top: 24px;
    padding: 
}

